html,body{
    background: #f6f5f2;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat' , sans-serif;
}

.header{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: #446DFF;
    color: white;
    margin-bottom: 20px;
}

span{
    font-size: 10px;
    float: right; 
    margin-right: 179px;
}

h2{
    text-align: left; 
    margin-left: 212px; 
    font-family: 'Poppins', sans-serif; 
    font-size: 21px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}

 h3{
    /* justify-content: center;
    display: flex; */
    margin-left: 678px;
    font-family: 'Montserrat medium' , sans-serif; 
    font-size: 15px;
} 

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin-right: 40px;
    height: 150px;
    width: 150px;
    background: white;
    border: none;
    cursor: pointer;
}

.length:hover{
    border: #0EC098 solid 1px;
    background: #EDFDF9;
    border-radius: 5px;
}

.temperature:hover{
    border: #FD5160 solid 1px;
    background: #FFEEF0;
    border-radius: 5px;
}

.volume:hover{
    border: #7224FF solid 1px;
    background: #E8DDFF;
    border-radius: 5px;
}

.main{
    display: flex;
    justify-content: center;
}

.from{
    margin-right: 100px;
}

.select{
    width: 280px;
    height:45px;
    background: white;
    border: none;
}

.Convert{
    width: 276px;
    height: 60px;
    border: none;
}

select:hover{
    color: #0EC098;
    cursor: pointer;
}

h6{
    opacity: 0.5;
}

.active,.length:hover{
    border: #0EC098 solid 1px;
    background: #EDFDF9;
    border-radius: 5px;
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    /* iphone 11 pro */
  .header{
      width: 100%;
      font-size: 10px;
      margin-bottom: 2px;
  }
   h2{
       margin-left: 10px;
       font-size: 10px;
   }
   span{
       margin-right: 5px;
       font-size: 7px;
       margin-top: 5px;
   }

   .container{
       display: flex;
       flex-flow: column;
   }

   .button{
       margin-bottom: 10px;
       height: 90px;
       width: 250px;
   }

   .main{
       display: flex;
       flex-flow: row;
   }

   .Convert{
       width: 108px;
   }

   .select{
       width: 112px;
   }

}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
        .from{
            margin-left: 95px;
        }
}

/* I pad mini */
@media only screen and (min-width:768px) and (max-width: 1024px) {
    h3{
       margin-left: 102px;
    }

    h2{
        margin-left: 20px;
    }

    span{
        margin-right: 10px;
    }
}