html,body{
    background: #f6f5f2;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;;
}

.header{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: #446DFF;
    color: white;
    margin-bottom: 20px;
}

span{
    font-size: 10px;
}

a{
    text-decoration: none;
    color: black;
}

h3{
    justify-content: center;
    display: flex;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin-right: 10px;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    cursor: pointer;
}

.length:hover{
    border: #0EC098 solid 1px;
    background: #EDFDF9;
    border-radius: 5px;
}

.temperature:hover{
    border: #FD5160 solid 1px;
    background: #FFEEF0;
    border-radius: 5px;
}

.volume:hover{
    border: #7224FF solid 1px;
    background: #E8DDFF;
    border-radius: 5px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.from{
    margin-right: 100px;
}

.select{
    width: 200px;
    height:50px;
    background: white;
    border: none;
}

.Convert{
    width: 196px;
    border: none;
}

select:hover{
    color: #0EC098;
    cursor: pointer;
}

h6{
    opacity: 0.5;
}

.main-content{
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    /* iphone 11 pro */
  .container{
      display: flex;
      flex-flow: column;
  }

  .button{
      margin-bottom: 10px;
  }

  h1{
      font-size: 20px;
  }

  .main{
      display: flex;
      flex-flow: column;
  }

  .from{
     margin-left: 90px;
  }

  .to{
      margin-bottom: 20px;
  }

  .button{
      width: 90px;
      height: 80px;
      justify-content: center;
      margin-bottom: 10px;
  }

  .select{
      width: 250px;
  }

  .Convert{
      width: 246px;
  }
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
        .from{
            margin-left: 95px;
        }
    }